<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

<Files "config.php">
    Require all denied
</Files>
<Files "database.sql">
    Require all denied
</Files>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/webp "access plus 1 month"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>
